[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = release-v5.0
[submodule "lib/account-abstraction"]
	path = lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
	branch = releases/v0.7
[submodule "lib/modular-account"]
	path = lib/modular-account
	url = https://github.com/alchemyplatform/modular-account
