[profile.default]
solc = '0.8.23'
evm_version = 'paris'
via_ir = true
src = 'src'
out = 'out'
test = 'test'
libs = ['lib']
optimizer = true
optimizer_runs = 10_000_000

[fuzz]
runs = 5000

[rpc_endpoints]
mainnet = "${RPC_URL_MAINNET}"
goerli = "${RPC_URL_GOERLI}"

[etherscan]
mainnet = { key = "${ETHERSCAN_API_KEY}" }
goerli = { key = "${ETHERSCAN_API_KEY}" }

[fmt]
ignore = ['src/external/**/*']

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
